@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap");

/* styles.css */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  gap: 20px;
  padding: 40px;
  background-image: url(./images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 40px;
  border-radius: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.postStyle {
  background-color: #ffff;
  padding: 20px;
  width: 70%;
  border-radius: 10px;
  border: 5px dotted #3374ff57;
}
.labelStyle {
  text-transform: uppercase;
  font-size: 15px;
  color: #2f3337;
  margin-bottom: 5px;
  margin-top: 20px;
}

.headings {
  color: #2f3337;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h1 {
  font-size: 44px;
}
input {
  border: 2px solid #ddd;
  height: 40px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
.btn,
.btnDelete {
  background: #3374ff;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 20px auto;
  margin-bottom: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  /* display: inline-block; */
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffff;
  font-size: 16px;
  float: right;
}
.datePara{
  font-size: 14px;
  color:#a8a2a2;
      font-family: "Courier New", Courier, monospace;

}
.btnDelete {
  border-radius: 40px;
  background-color: #fd5858;
  font-size: 20px;
  padding: 12px 16px;
  transition: all 0.05s;
}
.btnDelete:hover{
  transform: scale(1.08);
    background-color: #fd4040;

}
h3{font-weight: bold;}

/* have to add author name  and like button */
